@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	background: grey;
	color: white;
	line-height: 1.6;
}
.slider {
	position: relative;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.4s ease-in-out;
}
.slide.current {
	opacity: 1;
}

.slide .content {
	position: absolute;
	bottom: 20px;
	left: -600px;
	opacity: 0;
	width: 600px;
	background-color: #000080;
	color: white;
	padding:15px;
	border-radius: 7%;
	border: 2px solid white;

}
.slide .content h1{
    margin-bottom: 10px;
}
.slide.current .content {
	opacity:1;
	transform: translateX(600px);
	transition: all 0.7s ease-in-out 0.3s;
}

 .buttons button#next {
 	position: absolute;
 	top: 50%;
 	right: 15px;
 }
.buttons button#prev {
 	position: absolute;
 	top: 50%;
 	left: 15px;
 }
 .buttons button {
 	border: 2px solid white;
 	background-color: #4B0082;
 	color: black;
 	cursor: pointer;
 	padding: 13px 15px;
 	border-radius: 20%;
 	outline: none;
 }
 .buttons button:hover {
 	color: blue;
 	background: white;
 }


.slide:first-child{
	background: url('./images/dronbazeni.jpg') no-repeat center center/cover;
}
.slide:nth-child(2){ 
	background: url('./images/tobogan2.jpg') no-repeat center top/cover;
}
.slide:nth-child(3){
	background: url('./images/ljudi u bazenu.jpg') no-repeat center top/cover;
}
.slide:nth-child(4){
	background: url('./images/ulazbazeni.jpg') no-repeat center top/cover;
}
.slide:nth-child(5){
	background: url('./images/tobogan.jpg') no-repeat center top/cover;
}


